@font-face {
  font-family: "iconfont"; /* Project id  */
  src: url('iconfont.ttf?t=1739084413110') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-xiangyou3:before {
  content: "\e778";
}

.icon-sousuo:before {
  content: "\e6a8";
}

.icon-weixin-copy:before {
  content: "\e654";
}

.icon-qq:before {
  content: "\e62e";
}

.icon-weibo:before {
  content: "\e61a";
}

.icon-youxiang:before {
  content: "\e616";
}

.icon-lineleft:before {
  content: "\e606";
}

.icon-xiangzuo:before {
  content: "\e607";
}

.icon-chakanxiangqing-copy:before {
  content: "\e504";
}

.icon-icon-test:before {
  content: "\e506";
}

.icon-gengduo:before {
  content: "\e655";
}

.icon-fanhui:before {
  content: "\e6b5";
}

.icon-QQkongjian:before {
  content: "\e674";
}

.icon-huidaodingbu:before {
  content: "\e7e5";
}

.icon-dalaba:before {
  content: "\e602";
}

.icon-repeat:before {
  content: "\e745";
}

.icon-a-MenuBar-show:before {
  content: "\e60c";
}

.icon-diannao:before {
  content: "\e6e9";
}

